.infoWrapper{
    display: flex;
    padding-top: 30px;
    flex-wrap: wrap;
    @media screen and (max-width:768px) {
       flex-direction: column;
       flex-wrap: unset;
      
     }
}

.ownerAndRating{
    display: flex;
    flex-direction: column;
    gap: 21px;
    width: 50%;
    align-items: flex-end;
    padding-bottom: 24px;
    @media screen and (max-width:768px) {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: unset;
    }
}

.titleAndTags{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 50%;
    padding-bottom: 24px;
    @media screen and (max-width:768px) {
        width: 100%;
    }
}