.logement__host img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.hostname span{
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
    @media screen and (max-width:768px) {
        font-size: 12px;
     }
}

.hostname{
    display: flex;
    flex-direction: column;
    
}

.pictureContainer{
    height: 64px;
    width: 64px;
    @media screen and (max-width:768px) {
        height: 32px;
        width: 32px;
     }
}

.logement__host{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}