.carrousel{
    position: relative;
    display: flex;
    align-items: center;
    height: 415px;
    background-color: grey;
    border-radius: 10px;
    overflow: hidden;
    @media screen and (max-width:768px) {
        height: 255px;
    }
}

.arrows_left{
    position:absolute;
    left: 0;
    cursor: pointer;
    @media screen and (max-width:768px) {
        height: 24px;
        width: 24px;
    }
}

.arrows_right{
    position:absolute;
    right: 0px;
    cursor: pointer;
    @media screen and (max-width:768px) {
        height: 24px;
        width: 24px;
    }
}

.carrousel_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.viewWrapper{
    position: absolute;
    left: 50%;
    bottom: 5%;
}

.viewWrapper span{
   color: white;
   font-size: 18px;
   font-weight: 500;
}
