.home-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    margin-top: 43px;
    background-color: #F6F6F6;
    padding-top: 56px;
    padding-bottom: 56px; 
    margin-bottom: 40px;
    border-radius: 25px;
    @media screen and (max-width:768px) {
        margin: 0;
        padding: 0;
        gap: 20px;
        margin-bottom: 27px;
        margin-top: 22px;
    }
}